#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input {
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-family: inherit;
  font-size: inherit;
}

.guess {
  margin-left: 15px;
}

.guess-wrong {
  margin-left: 15px;
  border-color: red;
  color: red;
}

.guess-wrong:hover,
.guess-wrong:focus {
  border-color: red;
}

.pokemon-reveal {
  visibility: visible;
}

.pokemon-hide {
  visibility: hidden;
}